
.header {
    background-color: aquamarine;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;

}

.nav-bar {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 20px;
}

.sub-navbar {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
}

.split {
    margin-left: auto;
}

.footer {
    border: 1px solid green;
}
.footer-content {
    display: flex;
    list-style-type: none;
    justify-content: center;
    border: 1px solid black;
}
.footer-content li {
    margin: 5px;
    padding: 5px;
}